NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/corp_chat?schema=public"
JWT_SECRET="sua_chave_secreta_super_segura_aqui"
JWT_EXPIRES_IN="1d"
REDIS_HOST="redis"
REDIS_PORT=6379
AWS_REGION="us-east-1"
AWS_S3_BUCKET="corp-chat-media-dev"
AWS_ENDPOINT="http://localstack:4566"